*{
    margin: 0;
    padding: 0;
}


//Google Fonts//
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

// Google Fonts //
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.carousel-item {
    height: 100vh;
    min-height: 300px;
}
