*{
    margin: 0;
    padding: 0;
}
.form-area {
    padding-top: 7%;
}
.row.single.form{
    box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
    background: #000;
}
.left {
    padding: 200px 98px;
}
.left h2{
    font-weight: 700;
    font-size: 48px;
}

.left h2 span{
    font-weight: 100;
}
.right {
    padding: 70px 100px;
    position: relative;
}
.right i{
    position: absolute;
    font-size: 80px;
    left: -27px;
    top: 40%;
}
.form-control{
    border: 2px solid #000;
}
.right button{
    border: none;
    border-radius: 0;
    background: #202020;
    width: 180px;
    color: #fff;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}